target/classes/attachment-smtp-connector.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<flow name="attachment" >
		<file:inbound-endpoint path="D:\tmp\mule\attachment"
			responseTimeout="10000" doc:name="File" />
        <file:file-to-byte-array-transformer doc:name="File to Byte Array"/>
        <logger message="MIME Type is #[message.dataType.getMimeType()]" level="INFO" doc:name="Logger"/>
		<set-attachment attachmentName="attachment" value="attachment"
			contentType="#[message.dataType.getMimeType()]" doc:name="Attachment" />
        <set-payload value="This is a test email." doc:name="Set Payload"/>
		<smtp:outbound-endpoint host="localhost"
			user="trilm3" password="email" to="admin@localhost"
			from="trilm3@localhost" subject="Test Email" responseTimeout="10000"
			doc:name="SMTP" />
	</flow>
</mule>